* {
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* Grid layout */

.container {
    display: grid;
    height: 100dvh;
    width: 100dvw;
    grid-template-rows: 1fr 5fr .75fr;
    grid-template-columns: 1fr 3fr;
}

/* .header, .sidebar, .maincontent, .footer {
    border: 2px solid black;
} */

.header {
    grid-column: 1 / 3;
    grid-row:  1 / 2;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.mainContent {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.footer {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

/* Header */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #1F2937;
    color: #F9FAF8;
}

.headerText {
    font-size: 32px;
    font-weight: 700;
}

/* Sidebar */

.sidebar {
    background-color: #dcdddf;
}

.sidebarHeader {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
}

.sidebarHeaderText {
    font-size: 24px;
}

/* Main Content */

.mainContent {
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 1fr;
    background-color: #E5E7EB;
    border-left: 1px solid black;
}

.mainContentHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.removeTodoIcon:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* Footer */


/* Todo CSS */

.todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    padding: 16px;
    flex-wrap: wrap;
}

.todoRight {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

/* Todo Container */

.todoListContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.todo {
    min-height: 50px;
    gap: 16px;
}

.todoRemoveIcon {
    height: 32px;
    width: 32px;
    border: 2px solid black;
    border-radius: 32px;
}

.todoDialogButton {

}

/* Projects Container  */

.projectsContainer {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    margin-top: 16px;
    gap: 8px;
}

.projectButton {
    width: 150px;
    height: 50px;
    font-size: 24px;
    background: none;
    border: 2px solid black;
}

.projectButton:hover {
    cursor: pointer;
    opacity: 0.8;
}

.projectButton:active {
    opacity: 0.5;
}


/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #1F2937;
    color: #E5E7EB;
}

.githubIcon {
    background-color: #E5E7EB;
    border-radius: 32px;
    border: none;
}

/* Dialogs */



